@import '../../node_modules/include-media/dist/_include-media.scss';
.top-bar {
	height: 60px;
	line-height: 60px;
	background-color: #39f;
	color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;

	.tbl {
		display: flex;
		align-items:center;
		padding: 0 15px;
		// background: red;
	}

	.tbr {
		flex: 1;
		display: flex;
		align-items:center;
		justify-content: flex-end;

		// background: green;
		ul {
			list-style: none;
			display: flex;
			li {
				display: list-item;
				
				a {
					position: relative;
					display: flex;
					justify-content: center;
					padding: 0 10px;
					box-sizing: border-box;
					text-decoration: none;
					color: #fff;
					text-transform: uppercase;
				    
				    transition: .1s ease-in-out;
				    
				    transition-property: color,background-color;
					&:hover{
						&:before{
							right:15px;
						}
					}
					&:before {
						    content: '';
						    display: block;
						    position: absolute;
						    left: 15px;
						    right: calc(100% - 5px);
						    bottom: 15px;
						    height: 1px;
						    background-color: currentColor;
						    transition: .3s ease-in-out;
						    transition-property: right;
						    
					}
				}
			}

			@include media("<768px") {
				display: none;
			}

			
		}

		

		.navbar-toggle-icon {
			padding: 0 15px;

			@include media(">768px") {
				display: none;
			}

		}

		
	}
}



.middle {
	margin-top: 100px;
	// background: gray;
	ul {
		display: flex;
		width: 980px;
		margin: 0 auto;
		list-style: none;
		flex-direction: column;

		li {
			width: 100%;
			display: flex;
			

			height: 200px;

			// justify-content: space-around;

			img {
				border-radius: 5px;

				width: 300px;

				height: 100%;
			}

			div {
				flex: 1;
				// background: gray;

				padding-left: 15px;
			}

			margin-bottom: 20px;

			padding: 10px;

		

			border-bottom: 1px solid #efecec;
		}
	}
}

.footer {
	position: fixed;
	bottom: 0;
	background-color: #39f;
	color: #fff;
	width: 100%;
	height: 80px;
	text-align: center;
}